<script type="text/javascript" src="/jquery/js/rotator.js"></script>
<div class="conten_heading">
  <div class="page_heading">
    我们有不平凡的团队
  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;关于我们
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="culture_banner">
      <div id="rotator">
        <ul>
          <li class="show" style="opacity: 1;">
            <img src="/images/culture1.jpg" alt="Our Culture" width="902" height="298"></li>
          <li style="opacity: 0;" class=""><img src="/images/culture2.jpg" alt="Our Culture" width="902" height="298">
          </li>
          <li style="opacity: 0;" class=""><img src="/images/culture3.jpg" alt="Our Culture" width="902" height="298">
          </li>
          <li style="opacity: 0;" class=""><img src="/images/culture4.jpg" alt="Our Culture" width="902" height="298">
          </li>
        </ul>
      </div>
    </div>
    <div class="culture_text">
      <h3 style="top: -2px; left: -2px; font-size: 22px;">
        企业文化
      </h3>
      <br/>
      <table style="width:90%" align="center">
        <tr>
          <td style="width:450px;vertical-align: top;">
            我们的使命<br/>
            <%= html_blank(7) -%>&bull;<%= html_blank(2) -%>为客户提供满意的解决方案<br/>
            <%= html_blank(7) -%>&bull;<%= html_blank(2) -%>为员工构造持续的成长平台<br/>
            <%= html_blank(7) -%>&bull;<%= html_blank(2) -%>为社会承担应尽的责任
          </td>
          <td style="vertical-align: top;">
            价值观<br/>
            <%= html_blank(7) -%>&bull;<%= html_blank(2) -%>守信<br/>
            <%= html_blank(7) -%>&bull;<%= html_blank(2) -%>务实<br/>
            <%= html_blank(7) -%>&bull;<%= html_blank(2) -%>创新<br/>
            <%= html_blank(7) -%>&bull;<%= html_blank(2) -%>求精
          </td>
        </tr>
      </table>
      <br/>
      <h3 style="top: -2px; left: -2px; font-size: 22px;">
        公司简介
      </h3><br/>
      <%= html_blank(7) -%>南昌思创工程技术有限公司由原中国瑞林设计研究院的专业技术人员合作始创于1997年10月，
      是专业从事工业自动化、建筑智能化系统集成与服务的高科技企业。<br/>
      <%= html_blank(7) -%>今天，思创工程以不断创造客户价值为追求目标，密切关注与了解客户的需求和行业发展的趋势，
      已为众多行业领域的客户提供了建设与服务全过程一站式的解决方案。<br/>
      <%= html_blank(7) -%>未来，思创工程将始终秉承“以客户为中心”的管理思想，
      一直奉行“更密切、更快捷、更高效、更全面、更专业”的服务理念，致力于与您合作共赢！<br/>
    </div>
  </div>
  <div class="content_bottom"></div>
</div>