<!--<script type="text/javascript" src="/jquery/js/rotator.js"></script>-->
<div class="conten_heading">
  <div class="page_heading">

  </div>
  <div class="breadcrumb">
    <a href="index.php">首页</a>&nbsp;/&nbsp;<%= @title -%>
  </div>
</div>
<div class="content_area">
  <div class="content_mid_area">
    <div class="culture_banner">
      <img src="/images/culture.png" alt="Our Culture" width="902" height="238">
    </div>

    <%= render :partial => "left_menu" -%>
    <div id="box_right">
      <h3 style="top: -2px; left: -2px; font-size: 14px;border-bottom: 1px solid #DBDBDB;width: 98%;">
        公司业务
      </h3>

      <div>
        <ul class="p_ul">
          <% @projects.each do |p| -%>
              <li>
                <div class="li_div_l">
                  <a href="/projects/show/<%= p.id -%>.php" target="_blank" title="<%= p.name -%>">
                    <%= image_tag "/projects/#{p.pic_path}", :style => "width:140px;height:88px;" -%></a>
                </div>
                <div class="li_div_r">
                  <div class="title_div"><a href="/projects/show/<%= p.id -%>.php" target="_blank"><%= p.name -%></a>
                  </div>
                  <div style="margin-top:5px;line-height: 18px;">
                    <%= p.summary -%>
                  </div>
                </div>
              </li>
              <li class="clearboth">&nbsp;</li>
          <% end -%>
        </ul>
      </div>
      <%= page_links @projects -%>
      <br/>
    </div>
  </div>
  <div class="content_bottom"></div>
</div>
<style>
    .p_ul {
        display: block;
    }

    .p_ul li {
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
        overflow: hidden;
        width: 97%;
    }

    li.clearboth {
        background: url(/images/line.gif) repeat-x;
        margin: 0;
        height: 5px;
        width: 97%;
    }

    .li_div_l {
        float: left;
        position: relative;
        width: 150px;
        display: inline-block;
    }

    a.li_div_l {
        border: #E6E7E7 1px solid;
        width: 150px;
        height: 90px;
        display: block;
    }

    .li_div_r {
        text-align: left;
        width: 490px;
        float: left;
        display: inline-block;
    }

    .title_div a {
        font-weight: bold;
        color: #007DCC;
        text-decoration: none;
    }

    .pagination {
        float: left;
    }

    .pagination .current {
        font-family: "微软雅黑";
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
    }
    .pagination a{
        text-decoration: none;
        color: #007DCC;
    }
</style>