<style>table select, table input[type=text] {
    width: 120px;
}</style>
<h1 class="title"><%= @title %>
</h1>
<%= include_datepicker %>
<%= form_tag "/messages/list" do %>
    <table style="width:80%;">
      <tr>
        <td>用户名： <%= text_field_tag :name_like, params[:name_like] %></td>
        <td>留言日期： &gt;<%= text_field_tag :created_at_gte, params[:created_at_gte], :class => "datepicker" %>
          &lt;<%= text_field_tag :created_at_lte, params[:created_at_lte], :class => "datepicker" %>
        </td>
      </tr>
      <tr>
        <td>电话： <%= text_field_tag :phone_like, params[:phone_like] %></td>
        <td>处理状态 <%= select_tag :status_id_eq, options_for_select([['全部', ''], ['未处理', '0'], ['已处理', '1']], params[:status_id_eq]) %>
          <%= submit_tag "搜索", :class => "btn" %>
        </td>
      </tr>
    </table>
<% end %>

<%= page_links @messages %>
<table class="list_tb">
  <tr class="title">
    <td>姓名</td>
    <td>电话</td>
    <td>邮箱</td>
    <td>内容</td>
    <td>留言日期</td>
    <td>操作</td>
  </tr>
  <% @messages.each do |m| -%>
  <tr>
    <td>
      <%= m.name -%>
    </td>
    <td><%= m.phone -%></td>
    <td><%= m.email -%></td>
    <td><%= m.message -%></td>
    <td><%= m.created_at -%></td>
    <td>
      <%= link_to "查看", {:action => "show", :id => m.id}, :target => "_blank" -%>&nbsp;&nbsp;
      <a href="javascript:if(confirm('确实要删除吗?'))location='delete.php?id=<%= m.id -%>'">删除</a>
    </td>
  </tr>
  <% end -%>
</table>
<%= page_links @messages %>