<h1 class="title"><%= @title %></h1>
<%= form_for :category, :url => "/category/add" do |f| -%>
    <%= errors_for @category %>
    <table class="blue_tb">
      <tr>
        <th width=100>名称</th>
        <td width=230><%= f.text_field :name %></td>
        <td colspan="4"><%= submit_tag "保存", :class => "btn btn-primary" %></td>
      </tr>
    </table>
<% end -%>
