<h1 class="title"><%= @title %></h1>
<%= form_for :obj, :url => "/category/edit" do |f| -%>
    <%= errors_for @obj %>
    <%= hidden_field_tag "type", params[:type] -%>
    <%= hidden_field_tag "id", params[:id] -%>
    <table class="blue_tb">
      <tr>
        <th width=100>名称</th>
        <td width=230><%= f.text_field :name %></td>
        <th width=100>排序数</th>
        <td width=100><%= f.text_field :order_num -%></td>
        <td colspan="4"><%= submit_tag "保存", :class => "btn btn-primary" %></td>
      </tr>
    </table>
<% end -%>
