<h1 class="title"><%= @title %></h1>
<%= include_datepicker %>
<%= form_for @user, :url => "/users/update" do |f| %>
    <%= hidden_field_tag "id", params[:id] -%>
    <%= errors_for @user %>
    <table class="blue_tb" width="100%">
      <tr>
        <th>用户名</th>
        <td><%= f.text_field :username %></td>
        <th>密码</th>
        <td><%= f.text_field :password, :value => @user.encode && @user.decode_pass %></td>
        <th>允许登录？</th>
        <td><%= f.select :active, [['是', 1], ['否', 0]], {:include_blank => true} %></td>
      </tr>
      <tr>
        <th>部门</th>
        <td></td>
        <th>手机</th>
        <td><%= f.text_field :mobile %></td>
        <th>邮箱</th>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <th>入职时间</th>
        <td><%= f.text_field :join_date, :value => format_date(@user.join_date, :date), :class => "datepicker" %></td>
        <th>座机</th>
        <td><%= f.text_field :phone %></td>
        <th>分机</th>
        <td><%= f.text_field :phone_ext %></td>
      </tr>
      <tr>
        <th>离职时间</th>
        <td><%= f.text_field :leave_date, :value => format_date(@user.leave_date, :date), :class => "datepicker" %></td>
        <th>离职原因</th>
        <td colspan="3"><%= f.text_area :leave_reason, :rows => 3, :style => "width:90%" %></td>
      </tr>
      <tr>
        <td colspan="6"><%= submit_tag "保存", :class => "btn btn-primary" %>
          <%= button_to_function "取消", "cancel()", :class => "btn" %></td>
      </tr>
    </table>
<% end %>