<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- MOBIFY - DO NOT ALTER - PASTE IMMEDIATELY AFTER OPENING HEAD TAG -->
  <% if params[:action] == "index" -%>
      <script type="text/javascript">/*<![CDATA[*/
      (function (a) {
          function b(a, b) {
              if (+a)return~a || (d.cookie = h + "=; path=/");
              j = d.createElement(e), k = d.getElementsByTagName(e)[0], j.src = a, b && (j.onload = j.onerror = b), k.parentNode.insertBefore(j, k)
          }

          function c() {
              n.api || b(l.shift() || -1, c)
          }

          if (this.Mobify)return;
          var d = document, e = "script", f = "mobify", g = "." + f + ".com/", h = f + "-path", i = g + "un" + f + ".js", j, k, l = [!1, 1], m, n = this.Mobify = {points:[+(new Date)], tagVersion:[6, 1]}, o = /((; )|#|&|^)mobify-path=([^&;]*)/g.exec(location.hash + "; " + d.cookie);
          o ? (m = o[3]) && !+(m = o[2] && sessionStorage[h] || m) && (l = [!0, "//preview" + g + escape(m)]) : (l = a() || l, l[0] && l.push("//cdn" + i, "//files01" + i)), l.shift() ? (d.write('<plaintext style="display:none;">'), setTimeout(c)) : b(l[0])
      })(function () {
          if (/ip(hone|od|ad)|android|blackberry.*applewebkit/i.test(navigator.userAgent)) {
              return[1, "//cdn.mobify.com/sites/syxer/production/mobify.js"]
          }
      })
      /*]]>*/</script>
  <% end -%>
  <!-- END MOBIFY -->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= ['南昌思创工程科技有限公司', @sys_title, @title].compact.join(' - ') %></title>
  <meta name="Description" content="南昌思创工程科技有限公司"/>
  <meta name="Keywords" content=""/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link href="/stylesheets/screen.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="/jquery/js/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery/js/fade-plugin.js"></script>
  <script src="/jquery/js/banner.js" type="text/javascript"></script>
  <script src="/jquery/js/jquery.tools.min.js" type="text/javascript"></script>
  <% if params[:action] == "contact" -%>
      <script type="text/javascript" src="/jquery/js/validation.js"></script>
  <% else -%>
      <script type="text/javascript" src="/jquery/js/validation2.js"></script>
  <% end -%>
  <% unless params[:action] == "index" -%>
      <script src="/jquery/js/vtip.js" type="text/javascript"></script>
  <% end -%>

  <script>
      $(document).ready(function () {
          $("#google_maps").tooltip({ effect:'slide'});
          $("#enquiry_form").tooltip({ effect:'slide'});
      });
  </script>
</head>
<body>
<div id="wrapper">
  <div class="logo">
    <a href="/index.php">
      <img src="/images/logo.png" alt="南昌思创工程技术有限公司" width="363" height="55" border="0" title="南昌思创工程技术有限公司"/>
    </a>
  </div>
  <div class="menu">
    <ul id="menu">
      <li id="i1" <%= "class='i1_active'" if params[:action]=="index" -%>><a href="/index.php">首页</a></li>
      <li id="i2" <%= "class='i2_active'" if params[:action]=="about_us" -%>><a href="/about_us.php">关于我们</a></li>
      <li id="i3" <%= "class='i3_active'" if params[:action]=="services" -%>><a href="/services.php">公司业务</a></li>
      <li id="i4" <%= "class='i4_active'" if (params[:action]=="projects" or params[:controller]=="projects") -%>>
        <a href="/projects.php">成功案例</a></li>
      <li id="i5" <%= "class='i5_active'" if params[:action]=="recruitment" -%>><a href="/recruitment.php">招贤纳士</a></li>
      <li id="i6" <%= "class='i6_active'" if params[:action]=="contact" -%>><a href="/contact.php">联系我们</a></li>
    </ul>
  </div>
  <% if params[:action] == "index" -%>
      <%= yield -%>
  <% else -%>
      <div id="inner_content">
        <%= yield -%>
      </div>
  <% end -%>

  <div id="footer">
    <div class="footer_address">
      <div class="icon_google">
        <img src="/images/icon_google.gif" alt="Location" width="38" height="38" id="google_maps"/>

        <div class="tooltip">
          <img src="/images/map_location.jpg" alt="Location Map" width="350" height="247" class="img_map"/></div>
      </div>
      <div class="footer_google_text"><span class="footer_text_highlight">南昌思创工程技术有限公司</span><br/>
        南昌市洪都北大道229号<br/>
        金域名都12# 高能 首座写字楼4层
      </div>
    </div>
    <div class="footer_form">
      <div class="icon_google">
        <img src="/images/icon_email.gif" alt="Stay in touch" width="38" height="38" id="<%= 'enquiry_form' unless params[:action] == "contact" -%>"/>
        <% unless params[:action] == "contact" %>
            <div class="tooltip">
              <div class="enquiry_form_area">
                <%= form_tag "/messages/leave_message", :id => "contact", :onsubmit => "return validate()" do -%>
                    <%= hidden_field_tag "url", params[:action] -%>
                    <div class="input_field_area">
                      <input name="User" type="text" class="input_bg" id="User" onfocus="this.value = ( this.value == this.defaultValue ) ? '' : this.value;return true;" value="Name *" onkeypress="return CheckAlphaValue(event);" onblur="this.value = ( this.value == '' ) ? 'Name *' : this.value; return validateUser();"/>
                    </div>
                    <div class="input_field_area">
                      <input name="Email" type="text" class="input_bg" id="Email" onfocus="this.value = ( this.value == this.defaultValue ) ? '' : this.value;return true;" value="Email *" onblur="this.value = ( this.value == '' ) ? 'Email *' : this.value;return validateEmail();"/>
                    </div>
                    <div class="input_field_area">
                      <textarea name="Message" id="Message" cols="45" rows="5" class="message_bg" onfocus="this.value = ( this.value == this.defaultValue ) ? '' : this.value;return true;" onblur="this.value = ( this.value == '' ) ? 'Message *' : this.value;return validateMessage();">Message
                        *</textarea>
                    </div>
                    <div class="btn_submit_area">
                      <input type="submit" name="button" value="" id="button" class="btn_submit"/>
                    </div>
                <% end -%>
              </div>
            </div>
        <% end -%>
      </div>
      <div class="footer_form_text"><span class="footer_text_highlight">给我们留言</span><br/>
        <a href="mailto:strong@gmail.com">strong@gmail.com</a><br/>
        P: 0791-8810 3293 | F: 0791-8812 2836
      </div>
    </div>
    <div class="footer_social_icons">
      <ul id="footer_social_icons">
        <li id="facebook"><a href="http://weibo.com/ncstrong" target="_blank">Facebook</a></li>
        <li id="twitter"><a href="http://t.qq.com/ncstrong" target="_blank">Twitter</a></li>
        <li id="rss"><a href="http://au.linkedin.com/in/syxer" target="_blank">LinkedIn</a></li>
        <li id="bookmark"><a href="http://www.addthis.com/bookmark.php" class="addthis_button">Bookmark</a>
          <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d6a738d49291842"></script>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>

<!-- Hosting24 Analytics Code -->
<!--<script type="text/javascript" src="http://stats.hosting24.com/count.php"></script>-->
<!-- End Of Analytics Code -->
